main {
    width: 50%;
    margin: auto;
}
.content {
    background-color: aqua;
    min-height: 50px;
    width: 50%;
    margin: 10px;
}
.user-css {
    padding: 10px;
    font-size: 1.3em;
    background-color: rgb(155, 109, 197);
}