.text1 {
    text-decoration: underline;
    font-weight: bolder;
    font-style: italic;
}

.table1 {
    height: 100px;
    border: solid 2px black;
}
.table1 td {
    height: 100px;
    border: solid 1px black;
}

.table2 {
    width: 100px;
    border: solid 2px black;
}
.table2 td {
    width: 100px;
    border: solid 1px black;
}

.table3 {
    border: solid 2px black;
}
.table3 td {
    border: solid 1px black;
}

.table4 {
    width: 100px;
    height: 100px;
    border: solid 1px black;
}
.table4 td {
    border: solid 1px black;
}

.table5 {
    width: 100px;
    height: 100px;
    border: solid black;
}
.table5 td {
    width: 100px;
    height: 100px;
    border: solid  black;
}

.table6 {
    border: solid black;
}

.table6 td {
    border: solid black;
}