.table1 {
    width: 100px;
    height: 300px;
    border: solid 1px black;
}
.table1 td {
    border: solid 1px black;
}
.error-msg {
    color: red;
}
.error-msg1 {
    color: red;
}
.error-msg2 {
    color: red;
}
.img1 {
    width: 100px;
}